body {
    background-image: url(img/fondito.jpg);
}
h1 {
    color:aquamarine
    font-family; "Fasthand", cursive;
}
p {
 text-align: center;
 font-size: xx-large;
 color:black;
 font-family: "fasthand", cursive;

}